
/**body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #ececec;
    overflow: hidden;
    padding: 0; 
}


.nav-block {
    display: block; 
    color: white;
    text-align: center; 
    padding: 15px; 
    text-decoration: none;
    font-size: 14px;
    background-color: #949494;
    margin: 5px 0; 
}


.page-content {
    display: flex;
 
}


.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: px; 
}

/**


